<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable iohome-color-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon iohome-button-menu" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable iohome-color-bar">
            <h1 class="iohome-title-menu">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <div class="iohome-subs-menu"> Home</div>
            <ion-list>
                <!--<ion-item menu-close>-->
                    <!--Home-->
                <!--</ion-item>-->
                <ion-item menu-close href="#/app/switch_1">
                    <img class="iohome-icon iohome-sub-menu" src="./img/menu/power.png"> Switch 1
                </ion-item>
                <ion-item class="iohome-border-menu" menu-close href="#/app/switch_2">
                    <img class="iohome-icon iohome-sub-menu" src="./img/menu/power.png"> Switch 2
                </ion-item>
                <ion-item menu-close href="#/app/how_to">
                    <img class="iohome-icon iohome-sub-menu" src="./img/menu/clipboard.png"> How to
                </ion-item>
                <ion-item menu-close href="#/app/info">
                    <img class="iohome-icon iohome-sub-menu" src="./img/menu/info.png"> Info
                </ion-item>
                <ion-item menu-close href="#/app/playlists">
                    <img class="iohome-icon iohome-sub-menu" src="#"> playlists
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
