ion-view(title='About')
   ion-nav-buttons(side='left')
      button.button.button-icon.button-clear.ion-navicon(ng-click='openMenu()')
   ion-content(padding='true')
      h1(style='text-align: center;') About Page
