ion-view(title='How to')
    ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(ng-click='openMenu()')
    ion-content.howto(padding='true')
        .content
            p 1. Connect arduino with appliances
            p 2. Open application IOHome
            p 3. Seting up to you
            p 4. Thank you !  :)
