ion-view(title='How to')
    ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(ng-click='openMenu()')
    ion-content.howto(padding='true')
        .description
            p Application IOHome is a kind of intelligent control system based on internet.
                | Application IOHome can perform ON or OFF directive,
                | ON is meaning contact the power between electrical appliance and power supply. OFF is vice versa.
        .line
        .title
            p How to user IOHome
        .content
            p 1. Connect arduino with appliances
            p 2. Open application IOHome
            p 3. Connect application IOHome
            p 4. Setting up to you
            p 5. Thank you !  :)
