ion-view.info
    ion-nav-title.iohome-text-bar Info
    ion-nav-buttons(side="right")
        div.iohome-back Back

    ion-content.content(scroll="false")
        div.title IOHome
        div.image
            img.icon(src="./img/info/icon150x150.png")
        div.line
        div.mail iohome@gmail.com
        a(href="https://github.com/freewer/IOHome")
            div.web https://github.com/freewer/IOHome
        div.version version 0.0.0
