ion-view(title='Info')
   ion-nav-buttons(side='left')
      button.button.button-icon.button-clear.ion-navicon(ng-click='openMenu()')
   ion-content.info(padding='true', scroll="false")

      .title IOHome
      .image
         img.icon(src="./img/info/icon150x150.png")
      .line
      .mail iohome@gmail.com
      a(href='https://github.com/freewer/IOHome')
         .web https://github.com/freewer/IOHome
      a(href='#/dev', menu-close='')
         .version Version 0.4.6
