ion-view(title='Settings')
    ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(ng-click='openMenu()')
    ion-content.settings(padding='true')

        .title {{lightList[currentLight].text}}

        p.please-connect {{onConnected==false?'Please Connect !':''}}
        ion-toggle(ng-model="lightList[currentLight].isOn", ng-checked="lightList[currentLight].isOn", ng-disabled='!onConnected', ng-change='switchLight()') ON/OFF

        ion-toggle(ng-model="lightList[currentLight].isAlert", ng-checked="lightList[currentLight].isAlert", ng-disabled='!onConnected', ng-change='switchAlarm()') Set Alarm ON

        //ปุ่มนาฬิกา
        ionic-timepicker(input-obj='timePickerObject')
            button.time.button.button-block.button-positive.overflowShow {{lightList[currentLight].alertTime}}
                standard-time-meridian(etime='timePickerObject.inputEpochTime')

        ion-toggle(ng-model="lightList[currentLight].alertOff", ng-checked="lightList[currentLight].alertOff", ng-disabled='!onConnected', ng-change='switchAlertOff()') Set Alert OFF
        .title {{lightList[currentLight].alertOff}}
