@charset "UTF-8";

.bar-positive {
    background-color: #08ae9e !important;
    border-color: #ffffff !important;
}

.button-positive {
    background-color: #08ae9e !important;
    border-color: #ffffff !important;
}

//color tab android
.tabs-striped.tabs-positive .tabs {
    background-color: #08ae9e !important;
    border-color: #ffffff !important;
}

//color tab ios
.tabs-positive {
    .tabs, .tabs.tabs-positive {
        background-color: #08ae9e !important;
        border-color: #ffffff !important;
    }
}

.home {
    position: relative;
    .image {
        width: 76px;
        height: auto;
        top: 32%;
        right: 5%;
        position: absolute;
        z-index: 3;
        opacity: 1;

    }

    .touch {
        width: 76px;
        height: 105px;
    }
}
