@charset "UTF-8";

.info {
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    .title {
        text-align: center;
        font-size: 36px;
        margin: 10px 0 10px 0;
    }

    .image {
        margin: 10px auto;
        width: 150px;
        height: auto;
    }

    .icon {
        width: 150px;
        height: 150px;
    }

    .line {
        background-color: #c0c0c0;
        width: 100%;
        height: 2px;
        margin: 10px 0 20px 0;
    }

    .mail {
        text-align: center;
        font-size: 18px;
        margin: 10px 0 10px 0;
    }

    .web {
        text-align: center;
        font-size: 18px;
        margin: 10px 0 10px 0;
        text-underline: none;
    }

    .version {
        text-align: right;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 100%;
        height: 6%;
    }
}
