@charset "UTF-8";

.settings {
    .title {
        font-size: 24px;
        text-align: center;
        color: #444444;
        font-weight: bold;
    }
    .please-connect {
        color: red;
    }
    .time {
        font-weight: bold;
        font-size: 18px;
    }
}
