body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
h2 {
  text-align: center;
}

.center-red {
  text-align: center;
  color: red;
}

#lightName {
  font-size: xx-large !important;
  color: #333;
}